{% extends 'EventManagement/base.html' %}
{% load static %}
{% block nav-icons %}
{#    #}
{#    <div class="collapse navbar-collapse" id="navbarSupportedContent">#}
{#        <ul class="navbar-nav mr-auto">#}
{#            <li class="nav-item active">#}
{#                <a class="nav-link" href="#">Event Info <span class="sr-only">(current)</span></a>#}
{#            </li>#}
{#            <li class="nav-item">#}
{#                <a class="nav-link " href="#">Form submit</a>#}
{#            </li>#}
{#            <li class="nav-item dropdown">#}
{#                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
{#                </a>#}
{#                <div class="dropdown-menu" aria-labelledby="navbarDropdown">#}
{#                    <a class="dropdown-item" href="#">Logout</a>#}
{#                </div>#}
{#            </li>#}
{#        </ul>#}
{#    </div>#}
{#    #}


{% endblock %}

<div class="container">
    <div class="sign--in">
        <input type="text" name="username" placeholder="Enter your username" required>
        <input type="password" name="password" placeholder="Enter your password" required>
        <input type="submit">
    </div>
</div>