.container{
    padding: 5%;
}
a , a:hover{
    text-decoration: none;
}
.form{
    box-shadow: 0 0 1px #00000082;
    border-radius: 5px;
}
.form h3{
    padding: 4%;
    background-color: lightblue;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.form form{
    padding: 4%;
}
.form input[type=submit] , button ,input[type=button] {
    width: 50%;
    border: none;
    border-bottom: 2px solid #8080804d;
    display: block;
    margin: auto;
    padding: 2%;
    border-radius: 5px;
    margin-top: 5%;
    outline: none;
    cursor: pointer;
    background-color: #4DD0E1;
    color: white;
    font-weight: 700;
    font-size: 1.5em;
}
#confirm{
    width: 100%;
    border-bottom: 2px solid #8080804d;
    display: block;
    margin: auto;
    margin-top: 5%;
    outline: none;
    cursor: pointer;
    background-color: #4DD0E1;
    color: white;
    font-weight: 700;
    font-size: 1em;
}
form input[type=checkbox]{
    width:auto;
    margin: 0;
    padding: 0;
}
/*checkbox styling*/
.roundedOne {
  width: 28px;
  height: 28px;
  position: relative;
  background: #fcfff4;
  background: -webkit-gradient(linear, left top, left bottom, from(#fcfff4), color-stop(40%, #dfe5d7), to(#b3bead));
  background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  border-radius: 50px;
  -webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
}
.roundedOne label {
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  left: 4px;
  top: 4px;
  background: -webkit-gradient(linear, left top, left bottom, from(#222222), to(#45484d));
  background: linear-gradient(to bottom, #222222 0%, #45484d 100%);
  border-radius: 50px;
  -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px white;
          box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px white;
}
.roundedOne label:after {
  content: '';
  width: 16px;
  height: 16px;
  position: absolute;
  top: 2px;
  left: 2px;
  background: #27ae60;
  background: -webkit-gradient(linear, left top, left bottom, from(#27ae60), to(#145b32));
  background: linear-gradient(to bottom, #27ae60 0%, #145b32 100%);
  opacity: 0;
  border-radius: 50px;
  -webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
}
.roundedOne label:hover::after {
  opacity: 0.3;
}
.roundedOne input[type=checkbox] {
  visibility: hidden;
}
.roundedOne input[type=checkbox]:checked + label:after {  opacity: 1;
 }
/*Events list*/
.event::-webkit-scrollbar ,.workshop::-webkit-scrollbar {
    width: 1em;
}

.event::-webkit-scrollbar-track , .workshop::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 7px rgba(0,0,0,0.3);
    border-radius: 15px;
}

.event::-webkit-scrollbar-thumb , .workshop::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.heading{
    text-align: center;
    position: absolute;
    background: white;
    z-index: 2;
}
.event .heading{
    width: 28%
}
.workshop .heading{
    right: 22%;
    width: 28%;
}
.select_events{
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 5px;
    box-shadow: 0 0 1px #0000005c;
}
.event{
    width: 50%;
    display: inline-block;
    max-height: 75vh;
    min-height:75vh;
    object-fit: contain;
    overflow-y: scroll;
}

.workshop{
    width: 50%;
    display: inline-block;
    float: right;
    max-height: 75vh;
    min-height:75vh;
    object-fit: contain;
    overflow-y: scroll;
}
.options{
    margin-top: 25%;
    margin-left: 5%;
}
.item{
    display: inline-flex;
    padding: 1%;
    width: 95%;
    border-radius: 10px;
    align-items: center;
}
.item span{
margin-top: 0;
    padding: 2% 7%;
    width: 100%
}
/*model*/
.modal-dialog{
    width: 50vw !important;
    max-width: 50vw !important;
}
.profile{
    width: 50%;
    display: inline-block;
}
.registered{
    width: 50%;
    float: right;
}